<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- SCREEN WIDTH -->
    <add key="CONFIG_screen_width" value="640"/>
    <!-- SCREEN HEIGH -->
    <add key="CONFIG_screen_height" value="400"/>

    <!-- Initial default kid energy -->
    <add key="CONFIG_kid_start_energy" value="3"/>



    <!-- FRAME RATE -->
    <add key="CONFIG_framerate" value="0,09"/>
    <!-- DEBUG HUD -->
    <add key="CONFIG_debug" value="true"/>


    <!-- KID_SPRITE -->
    <add key="CONFIG_sprite_kid" value="Sprites/Player/dos/"/>
    <!-- GUARD_SPRITE -->
    <add key="CONFIG_sprite_guard" value="Sprites/Guard/dos/"/>
    <!-- SKELETON_SPRITE -->
    <add key="CONFIG_sprite_skeleton" value="Sprites/Skeleton/"/>
    <!-- SERPENT_SPRITE -->
    <add key="CONFIG_sprite_serpent" value="Sprites/Serpent/"/>
    <!-- SONGS_DIRECTORY -->
    <add key="CONFIG_sound" value="Sounds/dos/"/>
    <!-- SONGS_DIRECTORY -->
    <add key="CONFIG_songs" value="Songs/dos/"/>
    <!-- ITEMS_DIRECTORY -->
    <add key="CONFIG_items" value="Items/"/>
    <!-- TILES_DIRECTORY -->
    <add key="CONFIG_tiles" value="Tiles/dos/"/>
    <add key="CONFIG_tiles2" value="Tiles/alternate/"/>
    <!-- SPRITE_EFFECTS -->
    <add key="CONFIG_sprite_effects" value="Sprites/Effects/dos/"/>

    <!-- CONFIG_PATH_RESOURCES -->
    <!-- <add key="CONFIG_path_content" value="Content"/>-->
    <add key="CONFIG_path_Apoplexy" value="Apoplexy"/>
    <add key="CONFIG_path_Levels" value="Levels"/>
    <add key="CONFIG_path_Rooms" value="Rooms"/>
    <add key="CONFIG_path_Sequences" value="Sequences/dos/"/>


  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
